<!DOCTYPE HTML>
<head>
    <title>Шапка сайта</title>
  </head>
<body style="margin:0;">
  <div style="width:100%; background-color:lightblue; height:125px;">
  <img style="float:left; margin:10px; width:100px; height:100px;" src="https://vk.com/doc418321169_647261483?hash=n8VGqfHsmb7Ux7x85HZkR3gepT5l0v2lnOpbEzoroJX&dl=GQYTQMZSGEYTMOI:1663505560:DA12IGIT7AsWGmNNTovx44KDtGaEHidvjo9FoH8urbD&api=1&no_preview=1" alt="Описание " />
 <div style="background-color:lightblue; padding:10px;"><h1>Improve your life</h1></div>
    </div>
 <div style="max-width:500px; background-color:lightblue; margin:auto; margin-top:10px; padding:5px;">
  <style>
   ul.links {
    margin: 0; /*отступ*/
    padding: 4px; /*поля*/
   }
   ul.links li {
    display: inline;
    margin-right: 5px; /* Отступ слева */
    padding: 3px;
   }
  </style>
  <nav>
     <ul class="links">
         <li><a href="#">Обучение</a></li>
         <li><a href="#">Курсы</a></li>
         <li><a href="#">Преподователи</a></li>
     </ul>
 </nav>
    </div>
    <div style="width:300px; background-color:#ccc; margin:30px; padding:5px;">
      <span style="background-color:red;">
          <p>Моя жизнь</span> не очень важна, важны чужие жизни.
          Моя жизнь важна только если я могу помочь другим,
          если моя жизнь только для меня самого и моей безопасности,
          то зачем она мне? Моя жизнь для людей, сколько бы их не было.</p>
         <p> -Боб Марли
    </div>
    </div>
 </body>
