#body {
    margin:0;
}
#header{
width:100%; background-color:lightblue;padding: 10px; height:120px;}

#logop{
max-width: 960px;
    margin: 0 auto;
}
#logo{
float:left; margin:10px; width:120px; height:100px;
}
#p{
background-color:lightblue; padding:10px;
}
#nav{
    max-width: 960px;
    background-color:lightblue;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
#k1{
    margin-left: 0%;
    width: 120px;
    margin-right: 300px;
    font-family: 'Georgia', arial, serif;

}
#k2{
    margin-right: 300px;
    width="60%";
    cellspacing="0";
    bordercolor="brown";
     font-family: 'Georgia', arial, serif;
}
#k3{
    width: 100px;
    font-family: 'Georgia', arial, serif;
}
.content{
    max-width: 960px;
    background-color: rgb(206, 234, 236);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
#footer{
    width: 100%;
    background-color:lightblue;
    height: 70px;
    padding: 30px 0px 30px 0px;
    margin-top: 20px;
}

#sozd{
    margin: 30px 0px 0px 60px;
}
