.content {
border: 2px solid black;
padding: 5px;
max-width:600px;
text-align: center;
background-color: lightblue;
margin: 0 auto;
height: 300px;

}
#result {
margin: 0 auto;
font-size: 40px;
color:red;
}

