body{
   background: lightblue;
}
.Images div img{
  wigth:100px;
  height:100px;
}
.Images{
  max-wigth:260px;
  wigth:100 %;
  margin-top: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  }
  .slick-next{
    rigth:10px !important;
}
 .slick-prev{
    rigth:10px !important;
}
 .slick-dots{
    position: relative !important;
}
@media (min-width:560px){
  .Images div img{
     width: 175px;
      height: 175px;
    }
  
  .slick-prev{
    left: -10px !important;
  }
}
