@media (max-width: 1000px){
    .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
     #logo {
        float: left;
        height: 10vh;
        width: 25vw;
        margin-left: 1%;
    }
    .table-1 {
    order: 2;
    }
    #kon2 {
    order: 1;
    }
    #nav{
    display-direction:column;
    }
}

@media(min-width: 1000px) {
    .content{
    max-width: 960px;
    }
    #nav {
    display-direction: row;
    }
    ul.nav li{
    display: inline;
    }
}
header{
    background-color: Lightblue; 
}

#p{
background-color: lightblue;
    color:black;
}
nav{
    max-width: 960px;
   background-color: lightblue;
}
#kontent1{
  background-color: lightblue;

}
#kontent2{
    background-color: lightblue;
}
#kontent3{
    background-color: lightblue;
}


.table-1{
  border-collapse: collapse;
  border: 3px solid purple;
}
.table-1 tr{
    text-alight: center;
     border: 3px solid purple;
}
.table-1 th{
    text-alight: center;
     border: 3px solid purple;
}
.table-1 td{
    text-alight: center;
     border: 3px solid purple;
}
footer{
    background-color: gray;
}


  
